language: c

deploy:
  on:
    repo: r-p1e/negotians
    branch: master

cache:
  directories:
    - $HOME/.stack/

addons:
  apt:
    sources:
      - hvr-ghc
    packages:
      - libgmp-dev
      - cabal-install-head
      - ghc-7.10.3

before_install:
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  - bash install_protoc_from_source.sh

install:
  - stack --no-terminal --skip-ghc-check setup
  - stack build --no-terminal --skip-ghc-check --only-snapshot

script:
  - stack --no-terminal --skip-ghc-check test
